---
layout: default
title: Falling Apart
---

<div id="scenes">
{% for scene in site.posts %}
	<div class="panel">
		<div id="{{scene.title}}" class="collapse{% if scene.default %} in{% endif %}">
			<div class="row">
				<div class="col-md-9">
					<div class="{{ scene.class }}">
					{{ scene.content }}
					</div>
				</div>
				<div class="col-md-3">
					<div class="symlarge {{ scene.class }}">
						<i class="icon-{{ scene.icon }}"></i>
					</div>
				</div>
			</div>
			<div class="btn-group-vertical">
			{% for link in scene.links %}
				<a	class="btn btn-default btn-block {{ link.class }}"
				data-toggle="collapse"
				data-parent="#scenes"
				data-target="#{{ link.goto }}">
					<i class="icon-{{ link.icon }} icon-large"> </i>{{ link.text }}
				</a>
			{% endfor %}
			</div>
		</div>
	</div>
{% endfor %}

<!-- Инвентарь -->   
		<div class="row">
			<div class="col-md-12">
			<ul class="nav nav-tabs" id="inventory">
				
				<li class="active">
					<a href="#"><i class="inventory icon-male" style="color: #999"></i></a>
				</li>
			</ul>
			</div>
		</div>
</div>
<script src="http://code.jquery.com/jquery.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/actions.js"></script>
