<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/bootstrap-dark.css">
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/custom.css">

    </head>
    <body>

        <div class="container">

          {{ content }}



          <div class="row">
              <h3 class="pull-right text-muted">
                D:\side\
				<a class="btn btn-default" href="http://dside.ru/"><i class="icon-home icon-large"> </i></a>
                <a class="btn btn-default" href="http://blog.dside.ru/"><i class="icon-user icon-large"> </i></a>
              </h3>
          </div>
        </div>

    </body>
</html>
